{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h2>Sign up as a {{ user_type }}</h2>
	<form id="authentication" method="post" novalidate class="signup_validator">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}">
		{{ form|crispy }}
		<div class="col-md-12">
			<div class="form-group checkbox">
				<label for="terms">
					<input type="checkbox" name="terms" id="terms">&nbsp; I accept the <a href="javascript:void(0)">terms &amp; Conditions</a>
				</label>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<input type="submit" value="Sign Up" class="btn btn-primary btn-block"/>
			</div>
			<span class="sign-in">Already a member? <a href="login.html">Sign In</a></span>
		</div>
	</form>
{% endblock %}


